<header>
  <a class="skipnav" href="#main-content">Skip to main content</a>

  {% include disclaimer.html %}

  <div class="ood-banner">
    <div class="usa-grid">
      <h1>{{ site.title }}</h1>
    </div>
  </div>

  <div class="ood-nav-spacer"></div>

  <div class="usa-grid ood-nav">
    <div class="usa-width-one-third">
      <a href="#learn">
        <i class="fa fa-graduation-cap ood-first"></i>
        <h2>Learn</h2>
        <p>Learn more about income inequality</p>
      </a>
    </div>

    <div class="usa-width-one-third ood-middle">
      <a href="#data">
        <i class="fa fa-table"></i>
        <h2>Data</h2>
        <p>Download the latest data</p>
      </a>
    </div>

    <div class="usa-width-one-third">
      <a href="#support">
        <i class="fa fa-question ood-last"></i>
        <h2>Support</h2>
        <p>Reach out to the U.S. Census</p>
      </a>
    </div>
  </div>

  <div class="ood-nav-spacer ood-mobile-hide"></div>

</header>
