<header>
  <a class="skipnav" href="#main-content">Skip to main content</a>

  {% include disclaimer.html %}

  <div class="ood-banner">
    <div class="usa-grid">
      <h1>{{ site.title }}</h1>
      <p class="usa-font-lead">Let's build something amazing together.</p>
      <p class="ood-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel blandit justo. Duis tempus purus non purus ultrices, sed volutpat ante semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer turpis lorem, fermentum nec nisi et, tempor eleifend leo. </p>
    </div>
  </div>

  <div class="ood-nav-spacer"></div>

  <div class="usa-grid ood-nav">
    <div class="usa-width-one-third">
      <a href="#connect">
        <i class="fa fa-graduation-cap ood-first"></i>
        <h2>Learn</h2>
        <p>Understand the data we have.</p>
      </a>
    </div>

    <div class="usa-width-one-third ood-middle">
      <a href="#build">
        <i class="fa fa-table"></i>
        <h2>Data</h2>
        <p>Start using our data today!</p>
      </a>
    </div>

    <div class="usa-width-one-third">
      <a href="#learn">
        <i class="fa fa-question ood-last"></i>
        <h2>Support</h2>
        <p>Reach out to us with your questions.</p>
      </a>
    </div>
  </div>

  <div class="ood-nav-spacer ood-mobile-hide"></div>

</header>
