<section id="build">

  <div class="usa-grid">
    <header class="ood-main">
      <h2>Get the Data</h2>
      <p class="usa-font-lead">Lorem lipsum. Anyone can build, and we're committed to providing you the best platform possible.</p>

    </header>
  </div>

  {% include_relative index_includes/get-the-data.html %}

  <div class="usa-grid">
    <header class="ood-main">
      <h2>Where does it Come From</h2>
      <p class="usa-font-lead">Income Inequality is measured in several ways:</p>
    </header>
  </div>
  {% include_relative index_includes/data-origins.html %}




</section>
