<section class="ood-alt" id="learn">

  <div class="usa-grid">
    <header class="ood-main">
      <h2>Learn</h2>
    </header>
  </div>

  <div class="usa-grid">

    <div class="usa-width-two-thirds">
      <h3>What is Income Inequality?</h3>
      <p>Income inequality refers to how evenly or unevenly income is distributed in a society.  When inequality is high, a small group of people earn most of the income.</p>
      <p>In an equal society, everyone has the same income.  A uniformly rich country is just as equal as one in which everyone is poor.</p>
    </div>
    <div class="usa-width-one-third">
      <h3>Gathering Income Data</h3>
      <p>The Census Bureau surveys, analyzes and reports on income inequality in the United States every year.</p>
      <p>Income inequality can be measured by:</p>
      <ul>
      <li>Comparing the share of wealth held by households with different incomes</li>
      <li>Calculating single-figure statistical indexes (like the Gini coefficient)</li>
      </ul>
    </div>
  </div>

  <div class="usa-grid">

      <h3>What We Have Built</h3>

    <p>Below are a number of projects built by the Census using income inequality data.</p>
    </div>
  {% include_relative index_includes/data-internal-projects.html %}

  <div class="usa-grid">

    <h3>What the Community Has Built</h3>

    <p>Below are a sample of projects the community has built using Census income inequality data.</p>
  </div>
  {% include_relative index_includes/data-consumers.html %}

</section>
